html { 
  overflow-x: hidden;
}



html, body { 
  min-height: 100% !important;
  height: auto !important;
}

* { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, :before, :after { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after { 
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color .2s linear;
  background: transparent;
}

a:-webkit-any-link {
  color:-webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

body { 
  color: #333;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  background: #fff;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

div{ 
  display: block;
}

ul  {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start:40px;
}

ul ul { 
  list-style-type: circle;
  margin-block-start: 0px; 
  margin-block-end: 0px; 

}

ul, ol { 
  margin-top:0; 
  padding-left:30px; 
  margin-bottom: 1em; 
}

li { 
  display: list-item;
}

article { 
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: Josefin Sans, sans-serif;
  font-weight: 300 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3 { 
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em; 
  margin-block-end: 1em; 
  margin-inline-start: 0px; 
  margin-inline-end: 0px;
  font-weight: bold;
}

img { 
  border: 0;
}

p { 
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; 
}
.clearfix { 
  display: block;
}

.clearfix:after { 
  clear: both;
  content: " ";
  display: block; 
  height: 0; 
  visibility: hidden;
}

.clearfix:before, .clearfix:after { 
  content: "";
  display: table;
}
.container { 
  max-width: 1080px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
}

.container:after { 
  clear:both;
}

.container:before, .container:after { 
  content: "";
  display: table;
}

/* Site Header */
.site-header { 
  text-align: center;
}

.site-header .container { 
  padding-top: 50px;
  padding-bottom: 40px;
}

.site-title { 
  font-size: 45px;
  margin: 0; 
  font-family: Josefin Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
  color:#000;
  font-weight: 300 !important;
}
.site-title a { 
  color: #000;
}

.site-description { 
  font-size: 14px;
  color:#222;
  font-weight: 400; 
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 10px auto 0; 
  max-width: 75%;
  text-align: center;
}
.site-top, .menu-bar ul ul, .sticknav_menu {
  background: #000;
}

.menu-bar ul li a,  .sticknav_menu {
  font-size: 10px;
}



.menu-bar ul li a, .slicknav_brand, .slicknav_brand a, .slicknav_nav a, .slicknav_menu .slicknav_menutxt {
    color: #ffffff;
}

.site-top { 
  background:	#E6E6FA;
  position: relative;
  width: 100%;
  opacity: .94;
  z-index: 500;
  transition: all 300ms ease;
}

.site-top .container { 
  background: transparent;
}

.site-menu { 
  position: relative;
  z-index: 99;
}

.menu-bar { 
  height: auto; 
  text-align: center;
}

.menu-bar ul { 
  margin: 0; 
  padding: 0;
  font-size: 0; 
  list-style: none;
} 


.menu-bar ul li { 
  position: relative;
}

.menu-bar > ul > li { 
  display: inline-block;
}

.menu-bar ul li a {
  font-size: 10px;
  color: #000;
  display: block;
  text-decoration: none; 
  line-height: 38px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 25px;
  transition: all 0.25s ease-out;
}

.menu-bar ul ul { 
  opacity: 0;
  visibility: none;
  transition: all 0.17s ease-out;
  position: absolute;
  top: 38px;
  left: 0; 
  width: auto;
  background: #eee;
  border: none;
  text-align: left;
}

.menu-bar ul ul li { 
  display: block;
  padding: 0;
  border-right: none;
}

.menu-bar ul li ul a {
  line-height: 1.4;
  padding: 6px 25px;
  min-width: 150px;
}


.menu-bar > ul > li {
  display: inline-block;
}

#social_sidebar { 
  position: fixed;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5000;
}

#social_sidebar a { 
  color: #212121;
  display: block;
  padding: 5px;
  transition: all .25s ease-out;
}

#social_sidebar a:hover { 
  color: #d1bc61;
}

.site-main .container { 
  padding-top: 30px;
  padding-bottom: 50px;
}

.row { 
  margin-left:  -15px;
  margin-right: -15px;
}

.row:after { 
  clear: both; 
}

.row:before, .row:after {
  content: " ";
  display: block;
} 

.col-xs-1, .col-sm-1,.col-md-1, .col-lg-1,.col-xs-2, .col-sm-2 ,.col-md-2, .col-lg-2,.col-xs-3, .col-sm-3 ,.col-md-3, .col-lg-3,.col-xs-4, .col-sm-4 ,.col-md-4, .col-lg-4,.col-xs-5, .col-sm-5 ,.col-md-5, .col-lg-5,.col-xs-6, .col-sm-6 ,.col-md-6, .col-lg-6,.col-xs-7, .col-sm-7 ,.col-md-7, .col-lg-7, .col-xs-8, .col-sm-8 ,.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9 ,.col-md-9, .col-lg-9,.col-xs-10, .col-sm-10 ,.col-md-10, .col-lg-10,.col-xs-11, .col-sm-11 ,.col-md-11, .col-lg-11,.col-xs-12, .col-sm-12 ,.col-md-12, .col-lg-12{
  position: relative; 
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.single .hentry, .page .hentry {
  margin-bottom: 0;
}

.hentry { 
  margin-bottom: 50px;
}

.entry-header { 
  margin: 0 0 15px;
}

.entry-title {
  font-size: 25px;
  margin: 5px 0; 
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center; 
  letter-spacing: 1px;
  word-wrap: break-word;
}

.site-sidebar{ 
  line-height: 1.5;
  text-align: cennter;
  padding: 0 6px 0 26px; 
}

.site-sidebar .widget:first-child { 
  padding-top: 0;
}

.site-sidebar .widget { 
  padding: 10px 15px;
}

.pipdg_widget_profile { 
  padding-top: 0;
}

.widget { 
  margin-bottom: 3px;
}

.widget-title { 
  color: #000;
  background: #eee;
  font: 10px Montserrat, arial, sans-serif;
  letter-spacing: 3px;
  margin: 0 0 10px;
  padding: 6px 0; 
  text-align: center;
  text-transform: uppercase;
}

.widget img { 
  max-width: 100%;
  height: auto;
}

.pipdg_widget_profile img { 
  margin-bottom: 10px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

@media (min-width: 768px)  { 
  .col-sm-8 {
    width: 66.6%;
  }

  .col-sm-1m, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 { 
    float: left; 
  }

  .col-sm-4 { 
    width: 33.3%;
  }
}